body{
    background-color: #121114;
}

.header{
    background-color: #1E1E39;
}

.header div{
    display: flex;
    align-items: center;
}
 
.title{
    margin-left: 10px;
    margin-top: 5px;
    color: #B6B5B8;
    font-family: monospace;
}